---
layout: development
title: Python Library
up: python-moeralib
subtitle: moeralib.node.fingerprints
---

<h1>moeralib.node.fingerprints</h1>

<h2 id="Functions">Functions</h2>
{% for object in site.data.py_node_api_fingerprints.objects %}
    {% for version in object.versions %}
        <h4 class="identifier function">
            {{- "create_" }}{{ object.name }}_fingerprint{{ version.version }}
                {%- for field in version.fingerprint -%}
                    {%- if forloop.first -%}({%- else -%}, {% endif -%}{{ field.field }}
                {%- endfor -%}
            )
        </h4>
        <dl>
            <dt>Parameters:</dt>
            {% for field in version.fingerprint %}
                <dd>
                    <code>{{ field.field }}</code>:&nbsp;
                    {% if field.type %}
                        <code>{{ field.type }} | None</code>
                    {% endif %}
                    {% if field.comment %}
                        &ndash; {{ field.comment }}
                    {% endif %}
                </dd>
            {% endfor %}
            <dt>Return value:</dt>
            <dd>
                <code>bytes</code> - the fingerprint in binary form
            </dd>
        </dl>
    {% endfor %}
{% endfor %}
