---
layout: development
title: Python Library
up: python-moeralib
subtitle: moeralib.universal_location
---

<h1>moeralib.universal_location</h1>

<h2 id="Constants">Constants</h2>
{% for cn in site.data.py_universal_location_classes.constants %}
    <h4 class="identifier const">{{ cn.name }} = {{ cn.value }}</h4>
    <p>{{ cn.description }}</p>
{% endfor %}
<h2 id="Functions">Functions</h2>
{% for fn in site.data.py_universal_location_classes.functions %}
    <h4 class="identifier function">{{ fn.name }}</h4>
    <p>{{ fn.description }}</p>
    <dl>
        {% if fn.params %}
            <dt>Parameters:</dt>
            {% for param in fn.params %}
                <dd>
                    <code>{{ param.name }}</code>:&nbsp;
                    {% if param.type %}
                        <code>{{ param.type }}</code>
                    {% endif %}
                    {% if param.class %}
                        <code><a href="#{{ param.class }}">{%
                            if param.array == true %}List[{{ param.class }}]{% else %}{{ param.class }}{% endif
                        %}</a></code>
                    {% endif %}
                    {% if param.description %}
                        &ndash; {% if param.optional == true %}<i>(optional)</i>{% endif %} {{ param.description }}
                    {% else %}
                        {% if param.optional == true %}&ndash; <i>(optional)</i>{% endif %}
                    {% endif %}
                </dd>
            {% endfor %}
        {% endif %}
        {% if fn.out %}
            <dt>Return value:</dt>
            <dd>
                {% if fn.out.type %}
                    <code>{{ fn.out.type }}</code>
                {% endif %}
                {% if fn.out.description %}
                    &ndash; {{ fn.out.description }}
                {% endif %}
            </dd>
        {% endif %}
    </dl>
{% endfor %}

<a name="Classes"/>
{% for class in site.data.py_universal_location_classes.classes %}
    <h2 id="{{ class.name }}" class="identifier {{ class.category }}">{{ class.name }}</h2>
    <p>{{ class.description }}</p>
    {% for field in class.fields %}
        <h4 class="identifier field">{{ field.name }}</h4>
        <p>
            {% if field.type %}
                <code>{{ field.type }}</code> &ndash;
            {% endif %}
            {% if field.readonly == true %}<i>(read only)</i>{% endif %} {{ field.description }}
        </p>
    {% endfor %}
    {% for fn in class.functions %}
        <h4 class="identifier {% if forloop.first %}constructor{% else %}method{% endif %}">{{ fn.name }}</h4>
        <p>{{ fn.description }}</p>
        <dl>
            {% if fn.params %}
                <dt>Parameters:</dt>
                {% for param in fn.params %}
                    <dd>
                        <code>{{ param.name }}</code>:&nbsp;
                        {% if param.type %}
                            <code>{{ param.type }}</code>
                        {% endif %}
                        {% if param.class %}
                            <code><a href="#{{ param.class }}">{%
                                if param.array == true %}List[{{ param.class }}]{% else %}{{ param.class }}{% endif
                            %}</a></code>
                        {% endif %}
                        {% if param.struct %}
                            <code><a href="#{{ param.struct }}">{%
                                if param.array == true %}List[types.{{ param.struct }}]{% else %}types.{{ param.struct }}{% endif
                            %}</a></code>
                        {% endif %}
                        {% if param.description %}
                            &ndash; {% if param.optional == true %}<i>(optional)</i>{% endif %} {{ param.description }}
                        {% else %}
                            {% if param.optional == true %}&ndash; <i>(optional)</i>{% endif %}
                        {% endif %}
                    </dd>
                {% endfor %}
            {% endif %}
            {% if fn.out %}
                <dt>Return value:</dt>
                <dd>
                    {% if fn.out.type %}
                        <code>{{ fn.out.type }}</code>
                    {% endif %}
                    {% if fn.out.struct %}
                        <code><a href="#{{ fn.out.struct }}">{%
                            if fn.out.array == true %}List[types.{{ fn.out.struct }}]{% else %}types.{{ fn.out.struct }}{% endif
                        %}</a></code>
                    {% endif %}
                    {% if fn.out.description %}
                        &ndash; {{ fn.out.description }}
                    {% endif %}
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
{% endfor %}
