<section class="cards-section text-center">
    <div class="container">
        <h2 class="title">Try it!</h2>
        <div class="intro">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    Moera development is still in proof-of-concept phase and large parts of the functionality are missing,
                    but you can see what is working right now
                </div>
            </div>
            <div class="cta-container">
                <a class="btn btn-primary btn-cta" href="{{ download_url }}" target="_blank"><i class="fas fa-flask"></i> Try Now</a>
            </div><!--//cta-container-->
        </div><!--//intro-->
        <div id="cards-wrapper" class="cards-wrapper row">
            {% if site.card_overview_link != false %}
            <div class="item item-green col-lg-4 col-6">
                <div class="item-inner">
                    <div class="icon-holder">
                        <i class="icon fa fa-paper-plane"></i>
                    </div><!--//icon-holder-->
                    <h3 class="title">Overview</h3>
                    <p class="intro">Usage and architecture</p>
                    <a class="link" href="{{ site.card_overview_link | prepend: site.baseurl }}"><span></span></a>
                </div><!--//item-inner-->
            </div><!--//item-->
            {% endif %}
            {% if site.card_development_link != false %}
            <div class="item item-pink item-2 col-lg-4 col-6">
                <div class="item-inner">
                    <div class="icon-holder">
                        <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                    </div><!--//icon-holder-->
                    <h3 class="title">Developer's Guide</h3>
                    <p class="intro">Protocols and internals</p>
                    <a class="link" href="{{ site.card_development_link | prepend: site.baseurl }}"><span></span></a>
                </div><!--//item-inner-->
            </div><!--//item-->
            {% endif %}
            {% if site.card_license_link != false %}
            <div class="item item-orange col-lg-4 col-6">
                <div class="item-inner">
                    <div class="icon-holder">
                        <span aria-hidden="true" class="icon icon_gift"></span>
                    </div><!--//icon-holder-->
                    <h3 class="title">License</h3>
                    <p class="intro">Everything is Open Source</p>
                    <a class="link" href="{{ site.card_license_link | prepend: site.baseurl }}"><span></span></a>
                </div><!--//item-inner-->
            </div><!--//item-->
            {% endif %}
        </div><!--//cards-->
        
    </div><!--//container-->
</section><!--//cards-section-->
