<!-- ******Header****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <div class="logo">
                <a href="/index.html">
                    <img src="/assets/images/logo-p-40.png" width="74" height="41">
                </a>
                <span class="logo-text">Decentralized Social Network</span>
            </div>
        </div><!--//branding-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="/development/index.html">Developer's Guide</a></li>
            {% unless page.subtitle %}
                <li class="breadcrumb-item active">{{ page.title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="/development/{{ page.up }}/">{{ page.title }}</a></li>
                <li class="breadcrumb-item active">{{ page.subtitle }}</li>
            {% endunless %}
        </ol>
    </div><!--//container-->
</header><!--//header-->
