<div class="doc-sidebar navbar navbar-expand-lg col-md-3 col-12 order-0 d-flex">
    <div id="doc-nav" class="doc-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#doc-menu">
            <span class="navbar-toggler-icon fas fa-bars"></span>
        </button>
        <nav id="doc-menu" class="doc-menu navbar-nav collapse navbar-collapse flex-column">
            <div class="doc-sidebar-title">Developer's Guide</div>
            {% for link in site.data.development_nav %}
                {% if link.type == "sub" %}
                    <nav class="doc-sub-menu navbar-nav flex-column">
                {% elsif link.type == "end" %}
                    </nav>
                {% else %}
                    {% if page.url contains ".html" %}
                        {% assign page_url = page.url %}
                    {% else %}
                        {% capture page_url %}{{ page.url }}index.html{% endcapture %}
                    {% endif %}
                    {% capture url %}/development/{{ link.name }}.html{% endcapture %}
                    <a class="nav-link {% if page_url == url %}active{% endif %}" href="{{ url }}" data-url="{{page_url}}">{{ link.title }}</a>
                {% endif %}
            {% endfor %}
        </nav><!--//doc-menu-->
    </div>
</div>
