<header class="header text-center">
    <div class="container">
        <div class="branding">
            <img src="assets/images/logo-c-128.png" width="217" height="118">
        </div>
        <div class="tagline">
            {% if site.tagline %}
                {{ site.tagline }}
            {% endif %}
        </div>

        {% if site.tryit_link != false %}
        <div class="tryit">
            <a class="btn btn-success btn-lg" href="{{ site.tryit_link }}"
               target="_blank">Register Now</a>
        </div>
        {% endif %}

        <div class="mobile-container">
            <a href="https://play.google.com/store/apps/details?id=org.moera.web.twa&pcampaignid=moeraorg">
                <img alt="Get it on Google Play"
                     src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/>
            </a>
        </div>
    </div>
</header>
