<!-- ******Header****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <div class="logo">
                <a href="/index.html">
                    <img src="assets/images/logo-c-128.png" width="217" height="118">
                </a>
            </div>
        </div><!--//branding-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">License</li>
        </ol>
    </div><!--//container-->
</header><!--//header-->
