<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26903361-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-26903361-2');
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.tagline }}">
<meta name="author" content="{{ site.email }}">
<link rel="shortcut icon" href="/favicon.ico">

{% if page.og_type %}
    <meta property="og:type" content="{{og_type}}">
{% endif %}
{% if page.og_title %}
    <meta property="og:title" content="{{og_title}}">
{% endif %}
{% if page.og_image %}
    <meta property="og:image" content="{{og_image}}">
{% endif %}
{% if page.og_image_type %}
    <meta property="og:image:type" content="{{og_image_type}}">
{% endif %}
{% if page.og_image_width %}
    <meta property="og:image:width" content="{{og_imagewidth}}">
{% endif %}
{% if page.og_image_height %}
    <meta property="og:image:height" content="{{og_image_height}}">
{% endif %}
{% if page.og_description %}
    <meta property="og:description" content="{{og_description}}">
{% endif %}
{% if page.og_site_name %}
    <meta property="og:site_name" content="{{og_site_name}}">
{% endif %}
{% if page.og_type %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% if page.og_title %}
    <meta name="twitter:title" content="{{og_title}}">
{% endif %}
{% if page.og_description %}
    <meta name="twitter:description" content="{{og_description}}">
{% endif %}
{% if page.og_image %}
    <meta name="twitter:image" content="{{og_image}}">
{% endif %}

<script src="https://kit.fontawesome.com/18f0b9d11e.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<!-- Global CSS -->
<link id="theme-style" rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
{% if page.add_style %}
    <link rel="stylesheet" href="{{ page.add_style | prepend: site.baseurl }}">
{% endif %}
{% if page.add_script %}
    <script src="{{ page.add_script | prepend: site.baseurl }}"></script>
{% endif %}
