/* ======= Doc Styling ======= */
.doc-wrapper {
    padding: 45px 0;
    background: $smoky-grey;
}

.doc-body {
    position: relative;
}

.doc-header {
    margin-bottom: 30px;
    .doc-title {
        color: $color-primary;
        margin-top: 0;
        font-size: 36px;
        .body-green & {
            color: $color-green;
        }
        .body-blue & {
            color: $color-blue;
        }
        .body-orange & {
            color: $color-orange;
        }
        .body-red & {
            color: $color-red;
        }
        .body-pink & {
            color: $color-pink;
        }
        .body-purple & {
            color: $color-purple;
        }
    }
    .icon {
        font-size: 30px;
    }
    .meta {
        color: $grey;
    }
}

.doc-content {
    .section-title {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid darken($divider, 10%);
    }

    h1 {
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-top: 40px;
        margin-bottom: 15px;
        border-bottom: 1px solid darken($divider, 10%);
    }
    h2 {
        font-size: 22px;
        font-weight: bold;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
    h4 {
        font-size: 18px;
        font-weight: bold;
    }
    h4.identifier {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1rem;
        color: $color-pink;
        margin-top: 2rem;
    }
    h5 {
        font-size: 16px;
        font-weight: bold;
    }
    h6 {
        font-size: 14px;
        font-weight: bold;
    }

    blockquote {
        border-left: 0.3rem darken($divider, 10%) solid;
        padding-left: 1rem;
    }

    dd {
        margin-left: 2rem;
    }
}

.section-block {
    padding-top: 15px;
    padding-bottom: 15px;
    .block-title {
        margin-top: 0;
    }
    .list {
        &>li {
            margin-bottom: 10px;
        }
        ul {
            &> li {
                margin-top:5px;
            }
        }
    }
}

.table>thead>tr>th {
    border-bottom-color: lighten($color-primary, 20%);
    .body-green & {
        border-bottom-color: lighten($color-green, 20%);
    }
    .body-blue & {
        border-bottom-color: lighten($color-blue, 20%);
    }
    .body-orange & {
        border-bottom-color: lighten($color-orange, 20%);
    }
    .body-pink & {
        border-bottom-color: lighten($color-pink, 20%);
    }
    .body-purple & {
        border-bottom-color: lighten($color-purple, 20%);
    }
}
.table-bordered>thead>tr>th {
    border-bottom-color: inherit;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $smoky-white;
}

.jumbotron {
    h1 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

/* Color Schemes */
.body-green {
    .header {
        border-color: $color-green;
    }
    a {
        color: $color-green;
        &:hover {
            color: darken($color-green, 10%);
        }
    }
}
.body-blue {
    .header {
        border-color: $color-blue;
    }
    a {
        color: $color-blue;
        &:hover {
            color: darken($color-blue, 10%);
        }
    }
}

.body-orange {
    .header {
        border-color: $color-orange;
    }
    a {
        color: $color-orange;
        &:hover {
            color: darken($color-orange, 10%);
        }
    }
}

.body-pink {
    .header {
        border-color: $color-pink;
    }
    a {
        color: $color-pink;
        &:hover {
            color: darken($color-pink, 10%);
        }
    }
}

.body-purple {
    .header {
        border-color: $color-purple;
    }
    a {
        color: $color-purple;
        &:hover {
            color: darken($color-purple, 10%);
        }
    }
}

.body-red {
    .header {
        border-color: $color-red;
    }
    a {
        color: $color-red;
        &:hover {
            color: darken($color-red, 10%);
        }
    }
}

/* Sidebar */

.doc-sidebar {
}

.doc-nav {
	position:absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.doc-sidebar-title {
    display: none;
}

.doc-menu {
    background: $smoky-grey;
    list-style: none;
    align-items: start;

   .nav-link {
        margin-bottom: 5px;
        display: block;
        padding: 5px 15px;
        color: $text-color-secondary;

        &:hover, &:focus {
            color: $text-color;
            text-decoration: none;
            background: none;

        }

        .nav {

        }

        &.active {

            background: none;
            color: $color-primary;
            font-weight: 600;
            .body-green & {
                color: $color-green;
                border-color: $color-green;
            }
            .body-blue & {
                color: $color-blue;
                border-color: $color-blue;
            }
            .body-orange & {
                color: $color-orange;
                border-color: $color-orange;
            }
            .body-red & {
                color: $color-red;
                border-color: $color-red;
            }
            .body-pink & {
                color: $color-pink;
                border-color: $color-pink;
            }
            .body-purple & {
                color: $color-purple;
                border-color: $color-purple;
            }
        }
    }
}

.doc-sub-menu {
    list-style: none;
    padding-left: 0;

    .nav-link {
        margin-bottom: 10px;
        font-size: 12px;
        display: block;
        color: $text-color-secondary;
        padding: 0;
        padding-left: 34px;
        background: none;

        &:first-child {
            padding-top: 5px;
        }

        &:hover {
            color: $text-color;
            text-decoration: none;
            background: none;
        }

        &:focus {
            background: none;
        }

        &.active {
            background: none;
            color: $color-primary;

            .body-green & {
                color: $color-green;
            }
            .body-blue & {
                color: $color-blue;
            }
            .body-orange & {
                color: $color-orange;
            }
            .body-red & {
                color: $color-red;
            }
            .body-pink & {
                color: $color-pink;
            }
            .body-purple & {
                color: $color-purple;
            }
        }
    }
}

.navbar-expand-lg .navbar-nav .doc-sub-menu .nav-link {
    padding-left: 2.5rem;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .doc-content {
        //margin-left: 0;
    }

    .jumbotron {
        padding: 30px 15px;
        h1 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        p {
            font-size: 18px;
        }
    }

    .doc-menu {
	    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	    border: solid 1px #cccccc;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .doc-menu {
	    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	    border: solid 1px #cccccc;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sticky-lg {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0;
    }

    .sticky-lg:before,
    .sticky-lg:after {
        content: '';
        display: table;
    }

    .doc-sidebar-title {
        display: block;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.8rem;

        .body-green & {
            color: $color-green;
        }
        .body-blue & {
            color: $color-blue;
        }
        .body-orange & {
            color: $color-orange;
        }
        .body-red & {
            color: $color-red;
        }
        .body-pink & {
            color: $color-pink;
        }
        .body-purple & {
            color: $color-purple;
        }
    }

    .doc-menu {
	    box-shadow: none;
	    border: none;
	}

}
