/* ====== Header ====== */
.header {
  background: $text-color;
  color: rgba(256, 256, 256, 0.85);
  border-top: 5px solid $color-primary;
  padding: 30px 0;
  a {
    color: #fff;
  }
}
.branding {
  text-transform: uppercase;
  margin-bottom: 10px;
  .logo {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }
  .logo-text {
    font-size: 1.2rem;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    color: $color-primary;
    .body-green & {
      color: $color-green;
    }
    .body-blue & {
      color: $color-blue;
    }
    .body-orange & {
      color: $color-orange;
    }
    .body-red & {
      color: $color-red;
    }
    .body-pink & {
      color: $color-pink;
    }
    .body-purple & {
      color: $color-purple;
    }
  }
  .text-highlight {
    color: $color-primary;
    .body-green & {
      color: $color-green;
    }
    .body-blue & {
      color: $color-blue;
    }
    .body-orange & {
      color: $color-orange;
    }
    .body-red & {
      color: $color-red;
    }
    .body-pink & {
      color: $color-pink;
    }
    .body-purple & {
      color: $color-purple;
    }
  }
  .text-bold {
    font-weight: 800;
    color: #fff;
  }
  .icon {
    font-size: 24px;
    color: $color-primary;
    .body-green & {
      color: $color-green;
    }
    .body-blue & {
      color: $color-blue;
    }
    .body-orange & {
      color: $color-orange;
    }
    .body-red & {
      color: $color-red;
    }
    .body-pink & {
      color: $color-pink;
    }
    .body-purple & {
      color: $color-purple;
    }
  }
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 0;
  li {
    color: rgba(256, 256, 256, 0.5);
    &.active {
      color: rgba(256, 256, 256, 0.5);
    }
    a {
      color: rgba(256, 256, 256, 0.5);
      &:hover {
        color: #fff;
      }
    }
  }

}

.breadcrumb>li+li:before {
  color: rgba(0, 0, 0, 0.4);
}
