:root {
    --overview-color: #75b798;
    --administration-color: #6ea8fe;
    --development-color: #e685b5;
    --license-color: #feb272;
    --bs-blue-700: #084298;
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Medium.woff") format("woff2"),
    url("Montserrat-Medium.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-ExtraBold.woff2") format("woff2"),
    url("Montserrat-ExtraBold.woff") format('woff');
    font-weight: 800;
}

BODY {
    padding-bottom: 2rem;
}

.overview-page {
    --page-color: var(--overview-color);
}

.administration-page {
    --page-color: var(--administration-color);
}

.development-page {
    --page-color: var(--development-color);
}

.license-page {
    --page-color: var(--license-color);
}

HEADER {
    background-color: var(--bs-gray-700);
    border-top: 5pt solid var(--page-color);
    padding-top: 1rem;
    padding-bottom: .75rem;
}

@media (max-width: 767px) {
    HEADER {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    HEADER {
        margin-bottom: 4rem;
    }
}

HEADER .branding {
    margin-bottom: .5em;
}

HEADER .branding A {
    text-decoration: none;
}

HEADER .branding .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: var(--page-color);
}

.breadcrumb {
    font-size: .9rem;
}

.breadcrumb-item {
    color: rgba(255, 255, 255, .5);
}

.breadcrumb-item A {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.breadcrumb-item A:hover {
    color: #fff;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: rgba(255, 255, 255, .5);
}

.breadcrumb-item + .breadcrumb-item:before {
    color: rgba(255, 255, 255, .5);
}

.navbar-toggler {
    color: var(--page-color);
    position: relative;
    top: -.5em;
}

.sidebar A {
    display: block;
    text-decoration: none;
    margin-left: .25em;
    margin-bottom: .5em;
    color: var(--bs-gray-600);
}

.sidebar A:hover {
    text-decoration: underline;
}

.sidebar A.active {
    color: var(--page-color);
}

.sidebar-title {
    color: var(--page-color);
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.sidebar-sub {
    margin-left: 1rem;
    font-size: 90%;
}

H1 {
    border-bottom: solid 1px var(--bs-gray-400);
    padding-bottom: .25em;
    margin-bottom: .75em;
}

.not-implemented {
    color: var(--bs-gray-600);
    font-size: .875em;
    border-top: solid 1px var(--bs-gray-400);
    padding: .5em;
    margin-top: 2em;
    width: fit-content;
}

:not(PRE, FIGURE) > CODE {
    padding: .2em .15em;
    font-weight: 400;
    color: var(--bs-gray-700);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: 4px;
    line-height: 1.4;
}

CODE > A {
    text-decoration: none;
}

CODE > A:hover {
    text-decoration: underline;
}

PRE {
    background-color: var(--bs-gray-100);
    padding: .5em .75em;
    border-radius: .25em;
}

DT {
    margin-bottom: .5em;
}

DT > CODE {
    font-weight: 700;
}

H2.identifier, H4.identifier {
    font-family: var(--bs-font-monospace);
    margin-top: 2rem;
    margin-left: 5rem;
    text-indent: -5rem;
}

H2.identifier {
    font-weight: 700;
}

H2 + H4.identifier, H3 + H4.identifier {
    margin-top: 0;
}

H2.identifier::before, H4.identifier::before{
    margin-right: .75rem;
    color: white;
    font-size: .875rem;
    font-weight: bolder;
    padding: .4em .5em .25em .5em;
    border-radius: .75em;
    position: relative;
}

H2.identifier::before {
    top: -.4em;
}

H4.identifier::before {
    top: -.2em;
}

H4.call::before {
    content: 'CALL';
    background-color: var(--bs-purple);
}

H4.function::before {
    content: 'FUNCTION';
    background-color: var(--bs-purple);
}

H4.get::before {
    content: 'GET';
    background-color: var(--bs-blue);
}

H4.post::before {
    content: 'POST';
    background-color: var(--bs-blue);
}

H4.put::before {
    content: 'PUT';
    background-color: var(--bs-blue);
}

H4.delete::before {
    content: 'DELETE';
    background-color: var(--bs-blue);
}

H4.constructor::before {
    content: 'CONSTRUCTOR';
    background-color: var(--bs-blue);
}

H4.method::before {
    content: 'METHOD';
    background-color: var(--bs-blue);
}

H4.field::before {
    content: 'FIELD';
    background-color: var(--bs-blue);
}

H4.struct::before {
    content: 'STRUCT';
    background-color: var(--bs-orange);
}

H2.class::before, H4.class::before {
    content: 'CLASS';
    background-color: var(--bs-orange);
}

H2.exception::before {
    content: 'EXCEPTION';
    background-color: var(--bs-orange);
}

H2.enum::before {
    content: 'ENUM CLASS';
    background-color: var(--bs-orange);
}

H4.enum::before {
    content: 'ENUM';
    background-color: var(--bs-green);
}

H2.type::before, H4.type::before {
    content: 'TYPE';
    background-color: var(--bs-green);
}

H4.event::before {
    content: 'EVENT';
    background-color: var(--bs-yellow);
}

H4.notification::before {
    content: 'NOTIF';
    background-color: var(--bs-red);
}

H4.const::before {
    content: 'CONST';
    background-color: var(--bs-gray-700);
}

BLOCKQUOTE {
    border-left: solid .3rem var(--bs-gray-300);
    padding-left: 1rem;
}

DD {
    margin-left: 2rem;
}

.read-more {
    font-weight: normal;
    font-size: 90%;
    margin-inline-start: .5em;
}

@media (min-width: 1400px) {
    .container.container-requests {
        max-width: min(1320px, 75vw - 5rem);
    }

    .toc {
        background-color: white;
        font-size: .8rem;
        position: fixed;
        top: 0;
        right: 0;
        border-left: 1px solid var(--bs-gray-300);
        padding: 0 .5rem .5rem .5rem;
    }

    .toc H2 {
        font-size: 1.2rem;
        margin-top: .5rem;
        margin-left: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--bs-gray-300);
    }

    .toc OL {
        list-style: none;
        padding: 0 .75rem 0 1.5rem;
        margin: 0;
    }

    .toc OL.objects {
        padding-top: .5rem;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
    }

    .toc OL.objects.requests {
        max-height: calc(100vh - 10.7em);
    }

    .toc OL.objects.python {
        max-height: calc(100vh - 13.5em);
    }

    .toc A {
        color: var(--bs-blue-700);
        text-decoration: none;
    }

    .toc A:hover {
        text-decoration: underline;
    }

    .toc A.active {
        border-left: .25rem solid  var(--bs-blue-700);
    }
}

/* Landing page */

#welcome-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-content .section-one {
    padding: 0 5rem 4rem;
}

#welcome-content .section-two {
    padding: 6rem 5rem 0;
}

#welcome-content .section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 129%;
    color: #22282b;
    margin-bottom: 1rem;
}

#welcome-content .section-title B {
    font-weight: 800;
}

#welcome-content .section-subtitle {
    font-weight: 400;
    font-size: 1.31rem;
    line-height: 133%;
    color: var(--bs-gray-600);
    max-width: 48rem;
}

.main-menu {
    height: 4.25rem;
    display: grid;
    grid-template: "logo menu buttons" 1fr
                 / 80px  auto max-content;
    align-items: center;
}

.main-menu .menu A {
    padding: .5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--bs-gray-900);
    margin-right: .75rem;
    text-decoration: none;
}

.main-menu .menu A:hover {
    text-decoration: underline;
}

.main-menu .btn {
    width: 6rem;
    height: 2.5rem;
    margin-left: 1rem;
}

A.github-link {
    text-decoration: none;
    color: black;
}

A.github-link svg {
    width: 2rem;
    height: 2rem;
}

.btn-brand {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0fb6bf;
    --bs-btn-border-color: #0fb6bf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #33c1c9;
    --bs-btn-hover-border-color: #27bdc5;
    --bs-btn-focus-shadow-rgb: 13,155,162;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3fc5cc;
    --bs-btn-active-border-color: #27bdc5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: #0fb6bf;
    --bs-btn-disabled-border-color: #0fb6bf;
}

.btn-outline-brand {
    --bs-btn-color: #0fb6bf;
    --bs-btn-border-color: #0fb6bf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0fb6bf;
    --bs-btn-hover-border-color: #0fb6bf;
    --bs-btn-focus-shadow-rgb: 15,182,191;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #0fb6bf;
    --bs-btn-active-border-color: #0fb6bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #0fb6bf;
    --bs-btn-disabled-bg: #0000;
    --bs-btn-disabled-border-color: #0fb6bf;
    --bs-gradient: none;
}

.bsd {
    font-family: 'Suez One', serif;
    font-size: 1.3rem;
}

.intro {
    margin-top: 3.5rem;
    display: grid;
    grid-template: "slogan  browser" min-content
                   "mission browser" min-content
                   "buttons browser" min-content
                 / 1fr      1fr;
    gap: 1.5rem;
}

.intro .slogan {
    grid-area: slogan;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 125%;
    color: #22282b;
    background: url("../images/stroke.svg") 0 4.5rem no-repeat;
}

.intro .slogan B {
    font-weight: 800;
}

.intro .mission {
    grid-area: mission;
    font-weight: 400;
    font-size: 1.31rem;
    line-height: 133%;
    color: var(--bs-gray-600);
}

.intro .get-started {
    grid-area: buttons;
    align-self: end;
    padding-top: 3.5rem;
}

.intro .get-started .btn {
    margin-right: 1.5rem;

    --bs-btn-font-size: 1.13rem;
    --bs-btn-padding-y: .875rem;
    --bs-btn-padding-x: 2.875rem;
}

.intro .get-started .google-play IMG {
    display: inline-block;
    height: 5.5rem;
}

.intro .browser {
    grid-area: browser;
    align-self: center;
}

.intro .browser .mockup {
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 1px 15px 0 rgb(0 0 0 / 25%);
}

.intro .browser .mockup .bar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    background: #22282b;
}

.intro .browser .mockup .bar .dot {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

.intro .browser .mockup .bar .red {
    background: #ff5f57;
}

.intro .browser .mockup .bar .yellow {
    background: #febc2e;
}

.intro .browser .mockup .bar .green {
    background: #28c840;
}

.intro .browser .mockup IMG {
    display: block;
    width: 100%;
    aspect-ratio: 1.7;
}

.vision {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.vision > DIV {
    border-radius: .75rem;
    padding: 2rem 2.5rem 2.5rem;
}

.vision > DIV .icon {
    border-radius: 3rem;
    padding: .75rem;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.25rem;
}

.vision > DIV .icon svg {
    width: 2rem;
    height: 2rem;
}

.vision > DIV .title {
    font-weight: 500;
    font-size: 1.31rem;
    line-height: 152%;
    color: var(--bs-gray-900);
}

.vision > DIV .description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #3d3d3d;
}

.vision > DIV.magenta {
    background-color: #cdc3ff;
}

.vision > DIV.magenta .icon {
    background-color: #b6acf3;
}

.vision > DIV.blue {
    background-color: #aac9ff;
}

.vision > DIV.blue .icon {
    background-color: #93b3e9;
}

.vision > DIV.green {
    background-color: #92e3b8;
}

.vision > DIV.green .icon {
    background-color: #7ed4a8;
}

.strong-points {
    margin-top: 3.375rem;
    border-collapse: collapse;
}

.strong-points TD {
    border-top: 1px solid var(--bs-gray-300);
    padding: 2rem 0;
    vertical-align: top;
}

.strong-points TD.icon {
    padding-right: 1.5rem;
}

.strong-points TD.icon svg {
    border-radius: 3rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #0b898f;
    fill: white;
}

.strong-points TD.title {
    font-weight: 500;
    font-size: 1.69rem;
    line-height: 148%;
    color: var(--bs-gray-900);
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-wrap: nowrap;
}

.strong-points TD.description {
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 133%;
    color: var(--bs-gray-600);
}


/* Old welcome page */
.top-line {
    position: absolute;
    top: 0;
    width: 100%;
}

MAIN.welcome-page {
    margin-top: 2rem;
}

.israel-support {
    font-weight: 700;
    color: var(--bs-blue-700);
    margin-inline-start: .5rem;
    margin-inline-end: 4rem;
    position: relative;
    top: -.1em;
}

@media (max-width: 767px) {
    .israel-support {
        margin-inline-end: 1.5rem;
    }
}

.israel-support IMG {
    position: relative;
    top: -.1em;
}

/*
A.github-link {
    text-decoration: none;
    color: black;
    margin-inline-end: 2rem;
    padding-bottom: .25em;
}

A:hover.github-link {
    text-decoration: underline;
}
*/

.welcome {
    background-image: url("../images/messages.jpg");
    text-align: center;
    padding: 1rem 0;
}

.welcome .tagline {
    color: ivory;
    font: bold 3rem 'Young Serif', serif;
    text-shadow: 1px 1px 5px black;
}

@media (max-width: 767px) {
    .welcome .tagline {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

/*
.google-play {
    position: relative;
    top: .5rem;
}

*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.card {
    --card-color: var(--bs-gray-600);
    min-width: calc(min(400px, 95vw));
    display: grid;
    padding: .5rem;
    grid-template-columns: 2rem auto;
    grid-template-rows: auto auto;
    border-radius: .25rem;
    border-width: 1px 1px 1px .5rem;
    border-style: solid;
    border-left-color: var(--card-color);
    border-right-color: var(--bs-gray-200);
    border-top-color: var(--bs-gray-200);
    border-bottom-color: var(--bs-gray-200);
    text-decoration: unset;
}

A:hover.card {
    background-color: var(--bs-gray-100);
}

.card .icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: .15rem .25rem;
    color: var(--card-color);
}

.card .title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: larger;
    font-weight: bold;
    color: var(--card-color);
}

.card .description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: .25rem 0;
}

.card.overview {
    --card-color: var(--overview-color);
}

.card.administration {
    --card-color: var(--administration-color);
}

.card.development {
    --card-color: var(--development-color);
}

.card.license {
    --card-color: var(--license-color);
}

.cards-center {
    margin-top: .75rem;
}

.cards-center .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media (max-width: 767px) {
    .cards-center .card {
        max-width: unset;
    }
}

/* End of old welcome page */
