---
layout: development
title: Protocols
up: protocols
subtitle: Naming API
---

<h1>Naming API</h1>
<p>
    Moera Naming API is based on JSON-RPC protocol.
</p>
<p>
    <code>timestamp</code> below is the number of seconds that passed since 01-01-1970 00:00:00 in UTC timezone.
</p>
<h2>Calls</h2>
{% for call in site.data.naming_api.calls %}
    <h4 id="{{ call.name }}" class="identifier call">{{
        call.name }}({% for param in call.params %}{{ param.name }}{% unless forloop.last %}, {% endunless %}{% endfor %})
    </h4>
    <p>{{ call.description }}</p>
    <dl>
        {% if call.params %}
            <dt>Parameters:</dt>
            {% for param in call.params %}
                <dd>
                    <code>{{ param.type }} {{ param.name }}</code>
                    {% if param.description %}
                        &ndash; {{ param.description }}
                    {% endif %}
                </dd>
            {% endfor %}
        {% endif %}
        {% if call.returns %}
            <dt>Returns:</dt>
            <dd>
                {% if call.returns.type %}
                    <code>{{ call.returns.type }}</code>
                {% endif %}
                {% if call.returns.struct %}
                    <code><a href="#{{ call.returns.struct }}">
                        {{ call.returns.struct }}{% if call.returns.array == true %}[]{% endif
                    %}</a></code>
                {% endif %}
                {% if call.returns.description %}
                    &ndash; {{ call.returns.description }}
                {% endif %}
            </dd>
        {% endif %}
        {% if call.fingerprint %}
        <dt>Fingerprint: <span class="read-more"><a href="/development/protocols/fingerprint.html">read more</a></span></dt>
            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for field in call.fingerprint %}
                            <tr>
                                <td><code>{{ field.type }}</code></td>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </dd>
        {% endif %}
    </dl>
{% endfor %}

<br/><br/>
<h2>Structures</h2>
{% for struct in site.data.naming_api.structures %}
    <h4 id="{{ struct.name }}" class="identifier struct">{{ struct.name }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for field in struct.fields %}
                <tr>
                    <td>
                        {% if field.type %}
                            <code>{{ field.type }}</code>
                        {% endif %}
                        {% if field.struct %}
                            <code><a href="#{{ field.struct }}">{{ field.struct }}</a></code>
                        {% endif %}
                        {% if field.enum %}
                            <code><a href="#{{ field.enum }}">{{ field.enum }}</a></code>
                        {% endif %}
                    </td>
                    <td><code>{{ field.name }}</code></td>
                    <td>{{ field.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<br/><br/>
<h2>Enums</h2>
{% for enum in site.data.naming_api.enums %}
    <h4 id="{{ enum.name }}" class="identifier enum">{{ enum.name }}</h4>
    <p>{{ enum.description }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for value in enum.values %}
                <tr>
                    <td><code>{{ value.name }}</code></td>
                    <td>{{ value.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<br/><br/>
<h2 id="error-codes">Error codes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for error in site.data.naming_api.errors %}
            <tr>
                <td><code>{{ error.code }}</code></td>
                <td><code>{{ error.name }}</code></td>
                <td>{{ error.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
