---
layout: development
title: Protocols
up: protocols
subtitle: Node API
body_class: body-pink
---

<h1>Node API</h1>
<p>
    Moera Node API is a JSON-based REST API. See <a href="/overview/node.html">introduction</a> to Node REST API in
    the Overview section.
</p>
<p>
    <i>Timestamp</i> below is the number of seconds that passed since 01-01-1970 00:00:00 in UTC timezone.
</p>
<p>
    If an error occurs when processing a API request, <code><a href="#Result">Result</a></code> structure is returned
    instead of the regular response. The structure contains the error code and message, and also
    the <a href="#http-status-codes">HTTP status code</a> is set accordingly. All error codes are case-insensitive.
</p>
<p>
    An error may occur on different stages of request processing.
    <ul>
        <li>If the request URL is unknown, <code>not-found</code> error is returned.</li>
        <li>If incorrect JSON is provided, <code>invalid-syntax</code> error is returned.</li>
        <li>
            If value of one of the arguments does not correspond its type, <code>invalid-argument-value</code> error is
            returned.
        </li>
        <li>
            If invalid authentication token or root secret is provided, <code>authentication.invalid</code> error is
            returned.
        </li>
        <li>
            If authentication is required, but not provided, <code>authentication.required</code> error is returned.
        </li>
        <li>
            If request body does not pass validation, a validation error is returned. Look into the chapter on
            the particular structure for the list of validation errors that correspond to the structure.
        </li>
        <li>
            If an error occurs while executing the operation, one of the errors listed in the corresponding operation's
            chapter is returned.
        </li>
        <li>
            If a configuration error or a software bug occurs, <code>server.misconfiguration</code> error is returned.
        </li>
        <li>
            If request processing involves a naming server, but it is not available, <code>naming.not-available</code>
            error is returned.
        </li>
    </ul>
</p>
<p>
    <a href="/overview/authentication.html">Authentication scheme</a>, if specified in the request description, may be
    one of the following:
    <a name="auth"></a>
    <ul>
        <li>
            <i>none</i> or not present - authentication is not required;
        </li>
        <li>
            <i>root secret</i> - URL parameter <code>secret</code> must be provided with the value equal to the secret
            value set in the node configuration;
        </li>
        <li>
            <i>admin</i> - admin token received after signing in must be passed in URL parameter <code>token</code>;
        </li>
        <li>
            <i>signature</i> - user's access rights are figured out from the name and signature passed in the request
            body.
        </li>
    </ul>
</p>
<a name="standard-permission-groups"></a>
<p>
    Standard <a href="/overview/permissions.html">permission groups</a> are:
    <ul>
        <li><code>admin</code> - administrator of the node;</li>
        <li><code>owner</code> - owner of the posting, comment etc.</li>
    </ul>
</p>
{% for object in site.data.node_api.objects %}
    <a name="{{ object.name }}"></a>
    <h2>{{ object.name }}</h2>
    <p>{{ object.description }}</p>
    {% for req in object.requests %}
        <h4 class="identifier">{{ req.type }} {{ req.url }}</h4>
        <p>{{ req.description }}</p>
        <dl>
            {% if req.params %}
                <dt>Parameters:</dt>
                {% for param in req.params %}
                    <dd>
                        <code>{{ param.type }} {{ param.name }}</code>
                        {% if param.description %}
                            - {{ param.description }}
                        {% endif %}
                    </dd>
                {% endfor %}
            {% endif %}
            {% if req.in %}
                <dt>Request body:</dt>
                <dd>
                    {% if req.in.type %}
                        <code>{{ req.in.type }}</code>
                    {% endif %}
                    {% if req.in.struct %}
                        <code>
                            <a href="#{{ req.in.struct }}">
                                {{ req.in.struct }}{% if req.in.array == true %}[]{% endif %}
                            </a>
                        </code>
                    {% endif %}
                    {% if req.in.description %}
                        - {{ req.in.description }}
                    {% endif %}
                </dd>
            {% endif %}
            {% if req.out %}
                <dt>Response:</dt>
                <dd>
                    {% if req.out.type %}
                        <code>{{ req.out.type }}</code>
                    {% endif %}
                    {% if req.out.struct %}
                        <code>
                            <a href="#{{ req.out.struct }}">
                                {{ req.out.struct }}{% if req.out.array == true %}[]{% endif %}
                            </a>
                        </code>
                    {% endif %}
                    {% if req.out.description %}
                        - {{ req.out.description }}
                    {% endif %}
                </dd>
            {% endif %}
            {% if req.fingerprint %}
                <dt>Fingerprint (<a href="/development/protocols/fingerprint.html">read more</a>):</dt>
                <dd>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-4">Type</th>
                            <th class="col-8">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in req.fingerprint %}
                        <tr>
                            <td><code>{{ field.type }}</code></td>
                            <td>{{ field.value }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </dd>
            {% endif %}
            <dt>Authentication (<a href="#auth">read more</a>):</dt>
            {% if req.auth %}
                <dd>{{ req.auth }}</dd>
            {% else %}
                <dd>none</dd>
            {% endif %}
            {% if req.errors %}
                <dt>Errors:</dt>
                <dd>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-4">Code</th>
                            <th class="col-8">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for error in req.errors %}
                            <tr>
                                <td><code>{{ error.code }}</code></td>
                                <td>{{ error.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
{% endfor %}

<br/><br/>
<h2>Structures</h2>
{% for struct in site.data.node_api.structures %}
    <a name="{{ struct.name }}"></a>
    <h4 class="identifier">{{ struct.name }}</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-2">Type</th>
                <th class="col-3">Name</th>
                <th class="col-7">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for field in struct.fields %}
            <tr>
                <td>
                    {% if field.type %}
                        <code>{{ field.type }}</code>
                    {% endif %}
                    {% if field.struct %}
                        <code><a href="#{{ field.struct }}">{{ field.struct }}{% if field.array == true %}[]{% endif %}</a></code>
                    {% endif %}
                    {% if field.enum %}
                        <code><a href="#{{ field.enum }}">{{ field.enum }}</a></code>
                    {% endif %}
                </td>
                <td><code>{{ field.name }}</code></td>
                <td>{{ field.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if struct.operations %}
        <b>Operations (<a href="/overview/permissions.html">read more</a>):</b>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-4">Name</th>
                    <th class="col-8">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for op in struct.operations %}
                    <tr>
                        <td><code>{{ op.name }}</code></td>
                        <td>{{ op.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if struct.errors %}
        <b>Validation errors:</b>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-4">Code</th>
                    <th class="col-8">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for error in struct.errors %}
                    <tr>
                        <td><code>{{ error.code }}</code></td>
                        <td>{{ error.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if struct.fingerprint %}
        <b>Fingerprint (<a href="/development/protocols/fingerprint.html">read more</a>):</b>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-4">Type</th>
                    <th class="col-8">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field in struct.fingerprint %}
                    <tr>
                        <td><code>{{ field.type }}</code></td>
                        <td>{{ field.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}

<br/><br/>
<h2>Enums</h2>
{% for enum in site.data.node_api.enums %}
    <a name="{{ enum.name }}"></a>
    <h4 class="identifier">{{ enum.name }}</h4>
    <p>{{ enum.description }}</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-4">Value</th>
                <th class="col-8">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for value in enum.values %}
                <tr>
                    <td><code>{{ value.name }}</code></td>
                    <td>{{ value.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<br/><br/>
<a name="http-status-codes"></a>
<h2>HTTP status codes</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-2">Code</th>
            <th class="col-10">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for code in site.data.node_api.http-codes %}
            <tr>
                <td><code>{{ code.code }}</code></td>
                <td>{{ code.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
