---
layout: development
title: Protocols
up: protocols
subtitle: Node API
---

<h1>Node API</h1>
<p>
    Moera Node API is a JSON-based REST API. See <a href="/overview/node.html">introduction</a> to Node REST API in
    the Architecture Overview section.
</p>

<h2>Table of Contents</h2>
<ol>
    <li><a href="#general"><b>General Information</b></a></li>
    {% for object in site.data.node_api.objects %}
    <li><a href="#{{ object.name }}">{{ object.name }}</a></li>
    {% endfor %}
    <li><a href="#Structures"><b>Structures</b></a></li>
    <li><a href="#Operations"><b>Operations</b></a></li>
    <li><a href="#Enums"><b>Enums</b></a></li>
    <li><a href="#http-status-codes"><b>HTTP status codes</b></a></li>
</ol>


<h2 id="general">General Information</h2>
<p>
    <code>timestamp</code> below is the number of seconds that passed since 01-01-1970 00:00:00 in UTC timezone.
</p>
<p>
    If an error occurs when processing a API request, <code><a href="#Result">Result</a></code> structure is returned
    instead of the regular response. The structure contains the error code and message, and also
    the <a href="#http-status-codes">HTTP status code</a> is set accordingly. All error codes are case-insensitive.
</p>
<p>
    An error may occur on different stages of request processing.
    <ul>
        <li>If the request URL is unknown, <code>not-found</code> error is returned.</li>
        <li>If the request Content-Type is unknown, <code>invalid-content-type</code> error is returned.</li>
        <li>If incorrect JSON is provided, <code>invalid-syntax</code> error is returned.</li>
        <li>
            If the request is correct, but the operation is not supported by the node, <code>not-supported</code> error
            is returned.
        </li>
        <li>
            If value of one of the arguments does not correspond its type, <code>invalid-argument-value</code> error is
            returned.
        </li>
        <li>
            If authentication is required, but not provided, <code>authentication.required</code> error is returned.
        </li>
        <li>
            If an invalid authentication token or root secret is provided, <code>authentication.invalid</code> error is
            returned.
        </li>
        <li>
            If the provided signature is incorrect, <code>authentication.incorrect-signature</code> error is returned.
        </li>
        <li>
            If the provided <a href="authentication.html#carte">carte</a> is incorrect, one of the following error codes
            is returned:
            <ul>
                <li><code>carte.client-address-unknown</code> &ndash; cannot determine client IP address;</li>
                <li><code>carte.unknown-fingerprint</code> &ndash; unknown fingerprint version encoded in the carte;</li>
                <li><code>carte.invalid</code> &ndash; the carte format is invalid;</li>
                <li><code>carte.not-begun</code> &ndash; the timespan of the carte has not begun yet;</li>
                <li><code>carte.expired</code> &ndash; the carte is expired;</li>
                <li><code>carte.unknown-signing-key</code> &ndash; cannot find public key for the carte owner;</li>
                <li><code>carte.invalid-signature</code> &ndash; carte signature is invalid.</li>
            </ul>
        </li>
        <li>
            If the node is blocked from performing the operation, <code>authentication.blocked</code> error is returned.
        </li>
        <li>
            If the request needs a node name, but it is not defined, <code>node-name-not-set</code> error is returned.
        </li>
        <li>
            If the request needs a signing key, but it is not defined, <code>signing-key-not-set</code> error is
            returned.
        </li>
        <li>
            If request body does not pass validation, a validation error is returned. Look into the chapter on
            the particular structure for the list of validation errors that correspond to the structure.
        </li>
        <li>
            If an error occurs while executing the operation, one of the errors listed in the corresponding operation's
            chapter is returned.
        </li>
        <li>
            If a configuration error or a software bug occurs, <code>server.misconfiguration</code> error is returned.
        </li>
        <li>
            If request processing involves a naming server, but it is not available, <code>naming.not-available</code>
            error is returned.
        </li>
    </ul>
</p>
<p id="auth">
    <a href="authentication.html">Authentication</a> requirements, if specified in the request description, may be one
    of the following:
    <ul>
        <li>
            <i>none</i> or not present &ndash; authentication is not needed, it does not affect the request;
        </li>
        <li>
            <i>optional</i> &ndash; authentication is not mandatory, but it does affect the request;
        </li>
        <li>
            <i>required</i> &ndash; authentication is required to perform the request;
        </li>
        <li>
            <i>signature</i> &ndash; signature should be included in the request body;
        </li>
        <li>
            <i>root admin</i> &ndash; the client should authenticate as server administrator to perform the request;
        </li>
        <li>
            <i>admin</i> &ndash; the client should authenticate as node administrator to perform the request.
        </li>
    </ul>
</p>
<p>
    <code>cid</code> parameter may be passed with any request. See
    <a href="/development/protocols/events.html">Events</a> page for the description of its purpose.
</p>

{% for object in site.data.node_api.objects %}
    <h2 id="{{ object.name }}">{{ object.name }}</h2>
    <p>{{ object.description }}</p>
    {% for req in object.requests %}
        <h4 class="identifier {{ req.type | downcase }}">{{ req.url }}</h4>
        <p>{{ req.description }}</p>
        <dl>
            {% if req.params %}
                <dt>Parameters:</dt>
                {% for param in req.params %}
                    <dd>
                        <code>{% if param.enum %}String{% else %}{{ param.type }}{% endif %}</code>
                        <code>{{ param.name }}</code>
                        {% if param.description %}
                            &ndash; {% if param.optional == true %}<i>(optional)</i>{% endif %} {{ param.description }}
                        {% else %}
                            {% if param.optional == true %}&ndash; <i>(optional)</i>{% endif %}
                        {% endif %}
                        {% if param.enum %}
                            (see <code><a href="#{{ param.enum }}">{{ param.enum }}</a></code> for the list of
                            possible values)
                        {% endif %}
                        {% if param.flags %}
                            Comma-separated list of additional blocks of information that are needed.<br>
                            The values are:
                            <ul>
                                {% for flag in param.flags %}
                                    <li><code>{{ flag.name }}</code> &ndash; {{ flag.description }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                {% endfor %}
            {% endif %}
            {% if req.in %}
                <dt>Request body:</dt>
                <dd>
                    {% if req.in.type %}
                        <code>{{ req.in.type }}</code>
                    {% endif %}
                    {% if req.in.struct %}
                        <code>
                            <a href="#{{ req.in.struct }}">
                                {{ req.in.struct }}{% if req.in.array == true %}[]{% endif %}
                            </a>
                        </code>
                    {% endif %}
                    {% if req.in.description %}
                        &ndash; {{ req.in.description }}
                    {% endif %}
                </dd>
            {% endif %}
            {% if req.out %}
                <dt>Response:</dt>
                <dd>
                    {% if req.out.type %}
                        <code>{{ req.out.type }}</code>
                    {% endif %}
                    {% if req.out.struct %}
                        <code>
                            <a href="#{{ req.out.struct }}">
                                {{ req.out.struct }}{% if req.out.array == true %}[]{% endif %}
                            </a>
                        </code>
                    {% endif %}
                    {% if req.out.description %}
                        &ndash; {{ req.out.description }}
                    {% endif %}
                </dd>
            {% endif %}
            <dt>Authentication: <span class="read-more"><a href="#auth">read more</a></span></dt>
            {% if req.auth %}
                <dd>{{ req.auth }}</dd>
            {% else %}
                <dd><i>none</i></dd>
            {% endif %}
            {% if req.errors %}
                <dt>Errors:</dt>
                <dd>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-4">Code</th>
                                <th class="col-8">Description</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for error in req.errors %}
                                <tr>
                                    <td><code>{{ error.code }}</code></td>
                                    <td>{{ error.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
{% endfor %}

<br/><br/>
<h2 id="Structures">Structures</h2>
{% for struct in site.data.node_api.structures %}
    <h4 id="{{ struct.name }}" class="identifier struct">{{ struct.name }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col-2">Type</th>
                <th class="col-3">Name</th>
                <th class="col-7">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for field in struct.fields %}
            <tr>
                <td>
                    {% if field.type %}
                        <code>{{ field.type }}</code>
                    {% endif %}
                    {% if field.enum %}
                        <code>String{% if field.array == true %}[]{% endif %}</code>
                    {% endif %}
                    {% if field.struct %}
                        <code><a href="#{{ field.struct }}">{{
                            field.struct }}{% if field.array == true %}[]{% endif
                        %}</a></code>
                        {% if field.struct == 'Body' %}
                            (as String)
                        {% endif %}
                    {% endif %}
                </td>
                <td><code>{{ field.name }}</code></td>
                <td>
                    {% if field.optional == true %}<i>(optional)</i>{% endif %}
                    {{ field.description }}
                    {% if field.enum %}
                        (see <code><a href="#{{ field.enum }}">{{ field.enum }}</a></code> for the list of
                        possible values)
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if struct.errors %}
        <b>Validation errors:</b>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-4">Code</th>
                    <th class="col-8">Description</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for error in struct.errors %}
                    <tr>
                        <td><code>{{ error.code }}</code></td>
                        <td>{{ error.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}


<br/><br/>
<h2 id="Operations">Operations</h2>
<p><a href="access-controls.html">Read more about operations</a></p>
{% for struct in site.data.node_api.operations %}
    <h4 id="{{ struct.name }}" class="identifier struct">{{ struct.name }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col-4">Name</th>
                <th class="col-2">Default</th>
                <th class="col-6">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for op in struct.fields %}
                <tr>
                    <td><code>{{ op.name }}</code></td>
                    <td><code>{{ op.default }}</code></td>
                    <td>{{ op.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<br/><br/>
<h2 id="Enums">Enums</h2>
{% for enum in site.data.node_api.enums %}
    <h4 id="{{ enum.name }}" class="identifier enum">{{ enum.name }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col-4">Value</th>
                <th class="col-8">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for value in enum.values %}
                <tr>
                    <td><code>{{ value.name }}</code></td>
                    <td>{{ value.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<br/><br/>
<h2 id="http-status-codes">HTTP status codes</h2>
<table class="table">
    <thead>
        <tr>
            <th class="col-2">Code</th>
            <th class="col-10">Description</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for code in site.data.node_api.http-codes %}
            <tr>
                <td><code>{{ code.code }}</code></td>
                <td>{{ code.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
