---
layout: development
title: Protocols
up: protocols
subtitle: Notifications
---

<h1>Notifications</h1>
<p>
    Nodes can receive notifications about certain events from naming servers and other nodes. Notifications are sent
     through the REST API of the receiving node. See Architecture Overview for the
    <a href="/overview/notifications.html">detailed description</a> of notifications, their purpose and sending
    mechanism.
</p>
<h2>Notification packet</h2>
<p>
    Notifications are sent in packets. The packet structure is <a href="node-api.html#NotificationPacket">described</a>
    in Node API documentation. Each packet contains the <code>type</code> field, containing the type of the notification
    and <code>notification</code> field, containing the notification details in JSON form. The notification structure
    depends on the type. See the description below.
</p>
{% for notification in site.data.notifications.notifications %}
    <h4 id="{{ notification.type }}" class="identifier notification">{{ notification.type }}</h4>
    <p>{{ notification.description }}</p>
    {% if notification.fields %}
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">Type</th>
                    <th class="col-3">Field</th>
                    <th class="col-6">Comment</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for field in notification.fields %}
                    <tr>
                        <td>
                            {% if field.type %}
                                <code>{{ field.type }}</code>
                            {% endif %}
                            {% if field.enum %}
                                <code>String{% if field.array == true %}[]{% endif %}</code>
                            {% endif %}
                            {% if field.struct %}
                                <code>
                                    <a href="node-api.html#{{ field.struct }}">
                                        {{ field.struct }}{% if field.array == true %}[]{% endif %}
                                    </a>
                                </code>
                            {% endif %}
                        </td>
                        <td><code>{{ field.name }}</code></td>
                        <td>
                            {{ field.comment }}
                            {% if field.enum %}
                                (see <code><a href="node-api.html#{{ field.enum }}">{{ field.enum }}</a></code> for
                                the list of possible values)
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}
