---
layout: page
---

<header>
    <div class="container {{ page.container_class }}">
        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <span class="navbar-toggler-icon fas fa-bars"></span>
        </button>
        <div class="branding">
            <a href="/index.html"><img src="/assets/images/logo-p-40.png" width="74" height="41" alt="Logo"></a>
            <span class="logo-text d-block d-md-inline ms-md-3">Decentralized Social Network</span>
        </div>
        {% include development-header.html %}
    </div>
</header>

<div class="container {{ page.container_class }}">
    <div class="row">
        <div class="offcanvas-md offcanvas-start col-md-3 col-12" id="sidebar">
            <div class="offcanvas-header">
                <div class="offcanvas-title"></div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% include development-sidebar.html %}
            </div>
        </div>
        <div class="col-md-9 col-12">
            {{ content }}
        </div>
    </div>
</div>
