{% if page.color != null %}
    {% assign color = page.color | prepend: 'body-' %}
{% else %}
    {% assign color = '' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title | prepend: " - " | prepend: page.title }}</title>
    {% include preamble.html %}
</head>

<body class="{{ color }}">
    <div class="page-wrapper">
        
        {{ content }}
        
    </div><!--//page-wrapper-->
    
    {% include footer.html %}
     
</body>
</html> 

